[customizations.installer.kickstart]
contents = """
graphical
lang en_US.UTF-8
keyboard us
timezone UTC
network --bootproto=dhcp --device=link --activate --onboot=on --hostname=bootc
zerombr

autopart --type=plain

# https://docs.fedoraproject.org/en-US/fedora/f36/install-guide/appendixes/Kickstart_Syntax_Reference/#sect-kickstart-commands-users-groups
# Generate an ssh key using the command `openssl passwd -6`




rootpw --lock
group --name={{ env.Getenv "USERNAME" }} --gid=1000
user --name {{ env.Getenv "USERNAME" }} --uid=1000 --gid=1000  --shell=/bin/bash --groups=wheel --password {{ env.Getenv "PASSWORD_HASH" }} --plaintext
sshkey --username="{{ env.Getenv "USERNAME" }}" "{{ strings.TrimSpace (file.Read (env.Getenv "SSH_KEY_PATH")) }}"

%post
mkdir -p /etc/ostree
cat > /etc/ostree/auth.json << 'EOF'
{{ file.Read (env.Getenv "DOCKER_AUTH_PATH") }}
EOF
%end

reboot --eject

"""