[customizations.installer.kickstart]
contents = """
graphical
lang en_US.UTF-8
keyboard us
timezone UTC
network --bootproto=dhcp --device=link --activate --onboot=on --hostname=bootc
zerombr

autopart --type=plain

# https://docs.fedoraproject.org/en-US/fedora/f36/install-guide/appendixes/Kickstart_Syntax_Reference/#sect-kickstart-commands-users-groups
# Generate an ssh key using the command `openssl passwd -6`


rootpw --lock
user --name {{ env.Getenv "USERNAME" }}  --shell=/bin/bash --groups=wheel,users --password {{ env.Getenv "PASSWORD_HASH" }} --plaintext


reboot --eject

"""